.container-produtos {
  min-height: 100vh;
  position: relative;
}

.ilustracao2 {
  position: absolute;
  z-index: 2;
}

.header-produtos {
  background: linear-gradient(
      205.02deg,
      rgba(18, 18, 18, 0.2) 36.52%,
      rgba(18, 18, 18, 0.8) 77.14%
    ),
    url("../../assets/bg-pizzaria.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 245px;
  width: 100%;
  border-bottom-right-radius: 232px;
  position: relative;
  justify-content: space-around;
  padding-top: 147px;
  align-items: center;
}



.header-produtos h1 {
  font-family: "Baloo 2", cursive;
  color: white;
  margin-left: 120px;
  font-size: 40px;
}

.header-produtos button {
  all: unset;
  color: white;
  cursor: pointer;
}

.conteudo-pagina {
  display: flex;
  flex-direction: column;
  padding: 202px 110px 57px 110px;
  align-items: center;
  min-height: calc(100vh - 245px);
  position: relative;
}

.conteudo-pagina p {
  text-align: center;
  color: #525459;
  line-height: 170%;
  margin-bottom: 32px;
}

.botao-modal {
  position: absolute;
  top: 56px;
  right: 300px;
  z-index: 3;
}

.container-cards {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

@media screen and (max-width: 1380px) {
  .conteudo-pagina {
    padding: 180px 65px 57px 65px;
  }

  .container-cards {
    gap: 20px;
  }
}
