.input-senha {
    position: relative;
}

.visualizar-senha {
    position: absolute;
    top: 2.5rem;
    left: 20rem;
    cursor: pointer;
    color: #BEBEBE;
}

.Button {
    background-color: blueviolet;
}