.button {
  background: #D13201;
  border-radius: 20px;
  width: 300px;
  padding: 11px 40px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  border: unset;
  cursor: pointer;
  margin-top: 32px;
}

.button:hover {
  background: #d13201e1;
}