.form-cadastro {
  position: relative;
  background-image: url("../../assets/bg-cadastro.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1024px;
}

.steppers {
  position: absolute;
  margin-top: 2.2rem;
  margin-left: 15rem;
  z-index: 1;
}

.steps {
  max-height: 900px;
}

.botoes-steppers {
  margin: 0;
  padding: 0;
  max-height: 900px;
}

button {
  border: none;
  height: 40px;
  width: 140px;
  margin: 1rem 4.8rem 0 -6rem;
  border-radius: 20px;
  font-size: 14px;
  background-color: #fff;
  font-family: "Montserrat";
  font-weight: 600;
  cursor: pointer;
}

.botao-ativado {
  background-color: #d13201;
  color: #fff;
  cursor: pointer;
}

.botao-voltar {
  color: #d13201;
}
