.container-login {
  position: relative;
  background-image: url('../../assets/bg-login.png');
  background-repeat:no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 169px 0 242px 320px;
}

.ilustracao {
  position: absolute;
  top: 163px;
  left: 146px;
}

.form-login {
  position: relative;
  background-color: white;
  box-shadow: 0px 4px 16px rgba(50, 50, 50, 0.4);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 64px 40px;
  gap: 24px;
  max-width: 480px;
  z-index: 1;
}

.form-login h1 {
  color: #D13201;
  font-size: 32px;
  line-height: 150%;
  margin: 0 0 30px 20px;
  font-family:'Baloo 2', cursive;
}

.div-input {
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: relative;
  margin-left: 20px;
}

.icone {
  position: absolute;
  top: 62px;
  right: 45px;
  color: #BEBEBE;
  cursor: pointer;
}

.div-input label {
  color: #393C40;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin: 20px 0 -20px 16px;
}

.div-input input {
  border: 1px solid #BEBEBE;
  border-radius: 7px;
  height: 47px;
  font-size: 18px;
  padding: 3px 0 3px 10px;
  margin: -20px 0 -7px 0;
}

.form-login button {
  background: #D13201;
  border-radius: 20px;
  width: 126px;
  height: 40px;
  align-self: center;
  border: unset;
  font-weight: 600;
  font-size: 14px;
  color: white;
  cursor: pointer;
  margin-left: 40px;
}

.form-login p {
  font-size: 12px;
  color: #6F7377;
  text-align: center;
  margin: 15px 20px 0 0;
}